<div>
    <div class="page-header text-center">
        <h1>Administration</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <form class="form-horizontal" ng-disabled="formDisabled">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Ajouter une nouvelle requête</legend>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="libelleTexte">Libellé</label>

                        <div class="controls">
                            <input ng-model="libelleText" id="libelleTexte" name="libelleTexte" type="text"
                                   placeholder="Libellé" class="input-xlarge form-control" required="">

                            <p class="help-block">Libellé de la requête</p>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="control-group">
                        <label class="control-label" for="requestText">Requête</label>

                        <div class="controls">
                            <textarea ng-model="requestText" id="requestText" name="requestText"
                                      form-control></textarea>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="control-group">
                        <label class="control-label" for="btnValider"></label>

                        <div class="controls">
                            <button id="btnValider" name="btnValider" class="btn btn-success" ng-click="addNewItem()">
                                Valider
                            </button>
                            <button id="btnAnnuler" name="btnAnnuler" class="btn btn-danger">Annuler</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Request</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items | orderBy:'libelle'">
            <td>{{item.libelle}}</td>
            <td>{{item.request}}</td>
            <td>
                <button ng-click="del(item)" id="btnSupprimer" name="btnSupprimer" class="btn btn-danger">Supprimer</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>