<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                BigQuery Dashboard
                <small>Add request</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <form class="form-horizontal" ng-disabled="formDisabled">
                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="labelText">Label</label>

                        <div class="controls">
                            <input ng-model="labelText" id="labelText" name="labelText" type="text"
                                   placeholder="Libellé" class="input-xlarge form-control"
                                   required="">

                            <p class="help-block">Request's title</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="commentText">Description</label>

                        <div class="controls">
                            <input ng-model="commentText" id="commentText" name="commentText" type="text"
                                   placeholder="Description" class="input-xlarge form-control"
                                   required="">

                            <p class="help-block">Request's meaning</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="requestText">Request</label>

                        <div class="controls">
                            <textarea ng-model="requestText" id="requestText" name="requestText"
                                      class="input-xlarge form-control" rows="5"></textarea>

                            <p class="help-block">Put a valid bigquery request <a href="https://cloud.google.com/bigquery/query-reference">look on the query reference</a></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="btnValider"></label>

                        <div class="controls">
                            <button id="btnValider" name="btnValider" class="btn btn-primary" ng-click="addNewItem()">
                                Save
                            </button>
                            <button id="btnAnnuler" name="btnAnnuler" class="btn btn-danger" ng-click="cancel()">
                                Cancel
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>