<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                BigQuery Dashboard
                <small>Add request</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <form class="form-horizontal" ng-disabled="formDisabled">
                <fieldset>
                    <legend>Ajouter une nouvelle requête</legend>

                    <div class="control-group">
                        <label class="control-label" for="labelText">Libellé</label>

                        <div class="controls">
                            <input ng-model="labelText" id="labelText" name="labelText" type="text"
                                   placeholder="Libellé" class="input-xlarge form-control"
                                   required="">

                            <p class="help-block">Ajouter un libellé</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="commentText">Description</label>

                        <div class="controls">
                            <input ng-model="commentText" id="commentText" name="commentText" type="text"
                                   placeholder="Description" class="input-xlarge form-control"
                                   required="">

                            <p class="help-block">Ajouter une déscription</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="requestText">Requête</label>

                        <div class="controls">
                            <textarea ng-model="requestText" id="requestText" name="requestText"
                                      class="input-xlarge form-control" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="btnValider"></label>

                        <div class="controls">
                            <button id="btnValider" name="btnValider" class="btn btn-primary" ng-click="addNewItem()">
                                Valider
                            </button>
                            <button id="btnAnnuler" name="btnAnnuler" class="btn btn-danger" ng-click="cancel()">
                                Annuler
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>