<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                BigQuery Dashboard
                <small>Home</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success">
                <strong>Status : </strong> All is running perfectly!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <p>Hello, <strong>{{user.email}}</strong>! to start check yours dashboards or add one.</p>

                <p><a ng-href="#/addDashboard" class="btn btn-primary btn-lg" role="button">Add a dashboard</a>
                </p>
            </div>

        </div>
    </div>

</div>