<div class="home">
	<p ng-show="isAuthenticated" class="lead">{{'REQUESTS_LIST' | translate}}
		<div class="list-group">
            <a ng-repeat="item in items | orderBy:'libelle'" href="javascript: ;" class="list-group-item" ng-click="launchRequest($index)" title="{{item.request}}">{{item.libelle}}</a>
        </div>
	</p>

    <div ng-hide="isAuthenticated" class="jumbotron">
        <h1>{{'WELCOME' | translate}}</h1>
        <p>
            <a class="btn btn-lg btn-primary" ng-href="{{loginPath()}}" role="button">{{'LOGIN_ACTION' | translate}}</a>
        </p>
    </div>
</div>
