<div class="col-xs-6">
    <div class="input-group  ">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" value="{{param.name}}">
    </div>
</div>
<div class="col-xs-4">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-expanded="false">{{param.type}} <span
                    class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a><i class="fa fa-font"></i> Text</a></li>
                <li><a><i class="fa fa-list"></i> List</a></li>
                <li><a><i class="fa fa-calendar"></i> Date</a></li>
                <li><a><i class="fa fa-calculator"></i> Number</a></li>
            </ul>
        </div>
        <!-- /btn-group -->
        <input type="text" class="form-control" ng-model="param.defaultValue">
    </div>
    <!-- /input-group -->
</div>
